.popular-home {
  display: flex;
  flex-direction: column;
  background-color: #131313;
  min-height: 100vh;
  overflow-x: hidden;
}
.image-item {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular-error-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
}
.popular-image {
  height: 100px;
  width: 90px;
  padding: 10px;
  border-radius: 8px;
}
.popular-list-container {
  flex-grow: 1;
  min-width: 100%;
  /* padding: 2%; */
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular-loader-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (min-width: 768px) {
  .popular-image {
    height: 50%;
    width: 255px;
  }
}
