.popular-home {
  display: flex;
  flex-direction: column;
  background-color: #131313;
  min-height: 100dvh;
}
.popular-image {
  height: 100px;
  width: 90px;
  border-radius: 8px;
  margin: 10px;
}
.popular-list-container {
  flex-grow: 1;
  width: auto;
  padding: 5%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .popular-image {
    height: 50%;
    width: 255px;
  }
}
