.loader {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 15vh;
}
.error-page {
  min-height: 15vh;
  height: auto;
  color: white;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
